.webBtn {
  display: block;
  background-color: #5cdb95;
  width: max-content;
  padding: 1% 2%;
  border: 3px solid #5cdb95;
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  margin-top: 3%;
  transition: all 0.25s;
}
.webBtn:hover {
  background-color: #fff;
  color: #5cdb95;
  border-color: #5cdb95;
}
.wordFromFounder{
    margin-top: 1%;
    padding: 1%;
}
.individualNGO{
    margin: 0% 0 5%;
    max-width: 100vw;
    text-align: left;
}
.individualNGO h3,.individualNGO h4{
    color: #05386B;
    font-weight: 600;
}
.testimonials{
    padding: 1%;
}
.testimonials > div{
    margin-top: 2%;
}
.testimonials p{
    margin-bottom: 0;
}
.individualNGO > div  img{
    width: 100%;
}
.donation,.contactUs{
    padding: 1%;
    margin-top: 1%;
}
.donation span{
    background-color: #5cdb95;
    color: #fff;
    text-transform: capitalize;
    margin: 0 0.5%;
    padding: 0.5%;
    border-radius: 8px;
    display: inline-block;
}
.donation h5{
    margin: 2% 0;
}
.contactUs h3{
    margin-bottom: 2%;
}
.contactUs h5 span{
    color: #5cdb95;
}