.login {
  margin-right: 0;
  position: absolute;
  width: 100%;
  top: 0;
  font-family: "Poppins";
}
.login h1{
  color: #05386B;
}
.login #a{
    display: none;
}
.carousel{
    display: none !important;
}
.login img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.login > div:last-child {
  text-align: left;
}
.login .passwordField {
  width: 70%;
}
.login .passwordField input {
  width: 100%;
}
.login .passwordField svg:hover {
  fill: #05386B;
}
.login input {
  border: none;
  display: block;
  border-bottom: 1.5px solid black;
  width: 70%;
  margin: 0.5% 0;
  padding: 1% 0.5%;
  caret-color: #05386B;
  color: #5f6368;
}
.login input:active,
.login input:focus-visible,
.login input:active::placeholder,
.login input:focus-visible::placeholder {
  outline: none;
  border-width: 3px;
  border-bottom-color: #05386B;
  color: #05386B;
  font-weight: 500;
}
.login form {
  margin: 3% 0;
}
.login label {
  margin-top: 2%;
  font-weight: 500;
  color: #05386B;
}
.login form button {
  display: block;
  background-color: #5CDB95;
  width: 70%;
  padding: 2%;
  border: 3px solid #5CDB95;
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  margin-top: 3%;
  transition: all 0.25s;
}
.login form button:hover {
  display: block;
  background-color: #fff;
  width: 70%;
  padding: 2%;
  color: #5CDB95;
  border-radius: 8px;
  font-weight: 600;
  margin-top: 3%;
}
.login a {
  font-size: 80%;
  display: block;
  width: 70%;
  text-align: right;
  margin-top: 1%;
  text-decoration: none;
  color: #05386B;
  font-weight: 600;
}
.login .carBtn {
  color: #000;
  border: none;
  background-color: transparent;
  color: #05386B;
  font-weight: 600;
}
.login .cItem {
  height: 100vh;
  padding: 8% 5% 5%;
}
.cItem:first-child {
  padding-top: 15%;
}
.login form > span {
  width: 70%;
  margin-top: 5px;
}
@media (max-width: 900px) {
  .login {
    width: 100vw;
    margin: 0;
    font-size: 120%;
  }
  .login form > span {
    width: 100%;
    margin-top: 5px;
  }
  .login .passwordField {
    width: 100%;
  }
  .login > div:last-child {
    padding: 10%;
    text-align: left;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  .login input,
  .login a {
    width: 100%;
  }
  .login > div:first-child {
    display: none;
  }
  h1 {
    text-align: center;
  }
  .login label {
    margin-top: 5%;
  }
  .login a {
    font-size: 90%;
  }
  .login form button {
    margin: 10% auto 0;
  }
  .login form input {
    margin-top: 1%;
  }
  .login .cItem {
    min-height: 100vh;
    padding: 12% 5% 5%;
    height: auto;
  }
}
@media (max-width: 480px) {
  .login {
    font-size: 105%;
  }
  .login form button {
    padding: 4%;
    width: 100%;
  }
  .login form button:hover {
    padding: 4%;
    width: 100%;
    margin-top: 10%;
  }
  .login a {
    margin-top: 3%;
  }
  .login label {
    margin-top: 7%;
  }
  .cItem > span:last-child {
    margin-top: 10%;
    display: block;
  }
  .cItem:last-child {
    padding: 20% 0%;
  }
  .cItem:last-child > span:last-child {
    margin-top: 5%;
  }
}
@media (max-width: 360px) {
  .login > div:last-child {
    padding: 20% 5% 0;
  }
  .login {
    font-size: 100%;
  }
  .login form button {
    padding: 4%;
    width: 100%;
  }
  .login a {
    margin-top: 3%;
  }
  .login label {
    margin-top: 7%;
  }
}
